<ion-header>
  <ion-toolbar>
    <ion-title>Novo Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="register()">Registrar</ion-button>
    <ion-button expand="block" fill="outline" routerLink="/home">Voltar</ion-button>
  </form>
</ion-content>
